#footer {
    background-color: #232323;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 10vh;
    width: 100%;
    flex-direction: column;
    position: absolute;
    text-align: center;
}

#social {
    display: inline-flex;
    padding: 0px;
    margin: 10px;
    margin-left: 40%;

}

#icon {
    top: 6px;
    padding: 0px;
    margin: 5px;
    bottom: 20px;
}